<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						java.sun.com/xml/ns/javaee
						java.sun.com/xml/ns/javaee/beans_1_0.xsd">
	

	<bean id="dataSource"
		class="com.mas.jdbcDrivers.DriverManagerDataSource">
	<constructor-arg name="driver" value="org.sqlite.JDBC"></constructor-arg>
	<constructor-arg name="url"
		value="jdbc:sqlite:C:\Users\админ\workspace\MyMusicCollection\db\sqlite\MusicDB.db">
	</constructor-arg>
	</bean>
</beans>
